* {
    
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
}

.Details .content {
   display:grid;
   grid-template-columns: 1fr 1fr;
   background-color:black;
   padding-bottom:20%;
   color:white;
   
}

.content {
    font-size: 30px;
    padding-top:10%;
    
}

.Details .content .image {
    padding:15px;
    height: 90vh;
    border-radius:4px;
}

.Details .text {
    text-align: center;
    border:4px solid rgba(255, 0, 0, 0.427);
    

}

.Details .content .image,
.Details .content .text {
    padding:15px;
}

.Details h1 {
   padding-top:10%;
   text-align: left;
   color: white;
   padding-left:20px;
   letter-spacing:1px;
   animation: title 3s 1;
}



.button {
    font-size: 40px;
    text-align:center;
    margin-top:60px;
    padding:5px;
    border-radius: 4px;
    color:black;
    margin-left:100%;
    
}

@media only screen and(max-width:600px) {
    .Details .content  {
        flex-direction: column;
    }
}

@keyframes title {
    0% {
        color: black;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
}