


/*Mobile version*/

.Menu {
    display:flex;
    justify-content: flex-end;  
    
}

.Menu-links {
    transition: right ease 0.3s;
    color:red;
    position:absolute;
    top:0;
    bottom:0;
    width: 200px;
    padding-top:100px;
    right: -200px;
    
}

.Menu-links.is-expanded {
    right: 0;
    
}

.Menu-link {
   padding:20px;
}


.MenuButton { 
    display:block;
    padding:15px;
    margin-top:15px;
    margin-right:15px;
    z-index: 1;
    color:red;
    font-size: 15 px;
    background-color:transparent;
    border:solid red 3px;
    border-radius:4px;
    font-size:18px;
}




/*Desktop Version*/
@media(min-width: 600px) {
    .Menu-links {
        display:flex;
        color:red;
        justify-content: flex-end;
        padding-top:0;
        width:auto;
        background-color:transparent;
        padding-top:0;
        
    }
    .Menu-link {
        font-size:20px;
        
    }

    .MenuButton {
        display: none;
        justify-content: right;
        background-color: red;
        color:grey;
        

    }



} 