


/*Mobile version*/

.Menu {
    display:flex;
    justify-content: flex-end;  
    
}

.Menu-links {
    transition: right ease 0.3s;
    color:red;
    position:absolute;
    top:0;
    bottom:0;
    right:-200;
    width: 200px;
    padding-top:100px;
    display:none;
    
}

.Menu-links.is-expanded {
    right: 0;
    
}

.Menu-link {
   padding:20px;
}


.MenuButton { 
    display:block;
    padding:15px;
    margin-top:15px;
    margin-right:15px;
    z-index: 1;
    color:grey;
    font-size: 15 px;
}


/*Desktop Version*/
@media(min-width: 600px) {
    .Menu-links {
        display:flex;
        color:red;
        font-size:25px;
        padding:10px;
        flex:2px;
        padding-top:0;
        justify-content: flex-end;
        background-color:transparent;
        width:auto;
    }
    .Menu-link {
        padding:15px;
        font-size:20px;
    }

    .MenuButton {
        display: none;
        justify-content: right;
        background-color: red;
        color:grey;
        

    }


} 