


/*Mobile version*/

.Menu {
    display:flex;
    justify-content: flex-end;
    
}

.Menu-links {
    transition: right ease 0.3s;
    color:red;
    background-color:grey;
    position:absolute;
    top:0;
    bottom:0;
    right:-200;
    width: 200px;
    padding-top:100px;
    
}

.Menu-links.is-expanded {
    right: 0;
    
}

.Menu-link {
   padding:20px;
}


.MenuButton {
    display:block;
    padding:20px;
    margin-top:10px;
    margin-right:10px;
    z-index: 1;
}


/*Desktop Version*/
@media(min-width: 600px) {
    .Menu-links {
        display:flex;
        color:red;
        font-size:25px;
        padding:10px;
        flex:2px;
        padding-top:30px;
        justify-content: flex-end;
        background-color:transparent;
    }
    .Menu-link {
        padding:15px; 
    }

    .MenuButton {
        display: none;
        justify-content: right;
        background-color: red;
        

    }


} 