.side-drawer {
    height: 100%;
    background:red;
    box-shadow: 2px 0px 7px rgba(29, 23, 23, 0.5);
    position: fixed;
    top:0;
    left:0;
    width:400px;
    z-index:2;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;


}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer ul li {
    color:black;
    
}