.backdrop {
    position: fixed;
    max-width:400px;
    top:0;
    left:0;
    z-index:2;

    
}

/*height:100%;
width: 70%;*/

.side-drawer ul {
    height:100%;
    list-style:none;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.side-drawer ul {
    justify-content: space-evenly;
}

.side-drawer {
    margin: 0;
    display: flex;
}

/*box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    z-index:200;
*/