.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;

}



h1 {
  color:red;
  background-color: black;
  font-family: sans-serif;
  font-size: 50px;
  margin:0;
  font-style: inherit;
  
}


.img {
  width:100%;
  
  
}

h2 {
  color:white;
  
  
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
}

.box {
  flex:1;
  margin:20px;
  border-radius: 4px;
  padding:10px;
  
}

.box1 {
  background-image: url(../src/blackmirror.jpg);
  height:90vh;
  background-size: cover;
  background-position: center;
}


.box2 {
  background-image: url(../src/suits.jpg);
  height:90vh;
  background-size: cover;
  background-position: center;

}

.box3 {
  background-image: url(../src/witcherbig.jpg);
  height:90vh;
  background-size: cover;
  background-position: center;
}

.box4 {
  background-image: url(../src/bleach.jpg);
  height:90vh;
  background-size: cover;
  background-position: center;
}

.box5 {
  background-image: url(../src/lucifer.jpeg);
  height:90vh;
  background-size: cover;
  background-position: center;
}

.box6 {
  background-image: url(../src/fairytail.jpg);
  height:90vh;
  background-size: cover;
  background-position: center;
}

footer {
  background-color: black;
  font-size: 70%;
  margin-top: 50px;
  padding-bottom: 0px;

}

.footer-nav li {
  list-style: none;
  float: left;
  text-decoration: none;
  padding:80px 0px 0px 80px;
  padding-bottom:-40px;
}
