.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  color:red;
  background-color: black;
  font-family: sans-serif;
  font-size: 50px;
  margin:0;
  font-style: inherit;
  
}


.img {
  width:100%;
  
}

h2 {
  color:black;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;  

}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  flex:6;
}

.box {
  display: block;
  flex: 1;
}
