/*Mobile version*/

.Menu {
    display:flex;
    justify-content: flex-end;
    overflow:hidden;
    width: 100vw;
    
      
}

.Menu-links {
    transition: transform ease 0.7s;
    color:red;
    position: absolute;
    top:0;
    bottom:0;
    width: 200px;
    will-change: transform;
    padding-top:100px;
    /*right: -200px;*/
    transform: translateX(0);
    overflow: hidden;
    z-index:1;
    background-color:grey;
    
}

.Menu-links.is-expanded {
    /*right: 0;*/
    transform: translateX(100%);

}

.Menu-link {
   padding:20px;
}


.MenuButton { 
    position:relative;
    display:block;
    padding:15px;
    margin-top:15px;
    margin-right:15px;
    z-index: 2;
    color:red;
    font-size: 15 px;
    background-color:transparent;
    border:solid red 3px;
    border-radius:4px;
    font-size:18px;
    height:80px;


    
    
}

/*Desktop Version*/


@media(min-width:900px) {
   
    .Menu-links {
        padding-top:50px;
    }


}


@media(min-width: 600px) {

    
    .Menu-links { 
        display:flex;
        color:red;
        justify-content: flex-end;
        padding-top:0;
        width:auto;
        background-color:transparent;
        padding-top:0;
        position: relative;
        
    }
    .Menu-link {
        font-size:20px;
        
    }

    .MenuButton {
        display: none;
        justify-content: right;
        background-color: red;
       
        

    }

.Menu-link:hover {
    background-color:#333333;
    border-radius:10px;
    
    
}

.Menu-link:active {
    color:black;
    font-size:150%;
}

} 

